body {
  font-family: monospace;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
}

nav {
  margin: 30px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #bbb;
  font-size: 1.1em;
}

nav a:hover {
  color: white;
  font-weight: bold;
}

main {
  max-width: 700px;
  padding: 0 20px;
}

